@using bitirmeSonProje.Models
@model List<DersProgrami>
@{
    ViewData["Title"] = "DersProgramiList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35"> <strong>DERS PROGRAMI LİSTESİ</strong></h3>
    </div>

    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
                <tr>

                    <th><strong>DERS ADI</strong></th>
                    <th><strong>DERS KODU</strong></th>

                    <th><strong>DERS SAATİ </strong></th>
                    <th><strong>DERS GÜNÜ</strong></th>
                    <th><strong>DERS ÖN KOŞULU</strong></th>

</thead>
            <tbody>
                @foreach (var x in Model)
                {
                <tr class="tr-shadow">
                    <td>@x.DersAdi</td>
                    <td>@x.DersKod</td>

                    <td>@x.DersSaati</td>
                    <td>@x.Gun</td>
                    <td>@x.OnKosul</td>


                    <td>
                        <div class="table-data-feature">
                            <a href="/Admin/DuyuruSil/@x.DersKod">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- END DATA TABLE -->
</div>
