@using bitirmeSonProje.Models
@model List<SliderDto>

@{
    ViewData["Title"] = "AnaSayfa";
    Layout = "~/Views/Shared/TemplateLayout.cshtml";
    var kisiler = (IEnumerable<bitirmeSonProje.Models.Kisi>)ViewBag.kisiler;
    var ofisSaati = (IEnumerable<bitirmeSonProje.Models.OfisSaati>)ViewBag.ofisSaati;
    var id = Convert.ToInt32(ViewBag.Ids);
    var dtos = (IEnumerable<bitirmeSonProje.Models.SliderDto>)ViewBag.dtos;
}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>


<div class="swiper" style="margin: auto; margin-left: 6vw;">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        @*<div class="swiper-slide" style="margin: auto; height: 650px;"><img src="./images/bg.jpg" style="object-position: center; object-fit: contain; width: 100%; height: 100%;" /></div>*@


        @if (id > 0 )
        {
        <div class="swiper-slide swiper-slide-active" data-kisi-id="@id"><img src="@kisiler.FirstOrDefault(k=>k.Id==id).ResimYolu" style="object-position: center; object-fit: contain; width: 100%; height: 100%;" /></div>

        }
        @foreach (var item in kisiler)
        {

                <div class="swiper-slide" data-kisi-id="@item.Id"><img src="@item.ResimYolu" style="object-position: center; object-fit: contain; width: 100%; height: 100%;" /></div>
        }


        @*<div class="swiper-slide"><img src="./images/logo-icon.png" style="object-position: center; object-fit: contain; width: 100%; height: 100%;" /></div>*@
        ...
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev kisi-prev"></div>
    <div class="swiper-button-next kisi-next"></div>
</div>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
</script>
<div class="rightcontent w-col w-col-6 w-col-stack">
    <div data-w-id="3fd5aeb3-22da-ed60-7286-0d11f16597d3" style="opacity:0" class="content">
        <div class="swiper" style="margin: auto; margin-left: 6vw;">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    @{
                        var dtoss = id > 0 ? dtos.FirstOrDefault(k => k.KisiId == id) : dtos.FirstOrDefault();
                    }
                    <h1>DUYURULAR</h1>
                    @foreach (var item in dtoss.Duyurular)
                    {
                        <h4>@item.DuyuruAdi</h4>
                        <h5>@item.Aciklama</h5>
                        <hr>
                    }
                </div>
                <div class="swiper-slide">
                    <h1>OFİS SAATLERİ</h1>
                    @foreach (var item in dtoss.OfisSaatleri)
                    {
                        <h4>@item.MusaitlikDurumu</h4>
                        <h5>@item.OfisSaatiGun - @item.OfisSaatiBaslangic - @item.OfisSaatiBitis</h5>
                        <hr>
                    }
                </div>
                <div class="swiper-slide">
                    <h1>DERS PROGRAMLARI</h1>
                    @foreach (var item in dtoss.DersProgramlari)
                    {
                        <h4>@item.DersKod - @item.DersAdi</h4>
                        <h5>@item.Gun - @item.DersSaati</h5>
                        <h5>@item.OnKosul</h5>
                        <hr>
                    }
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="credit">
            ©2020 Your Name - <a href="https://onepagelove.com/split" target="_blank" class="credit-links">Split Template</a> by <a href="https://onepagelove.com" target="_blank" class="credit-links">One Page Love</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/min.js/0.2.3/$.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $('.swiper-button-next.kisi-next').on('click', function () {
        debugger
        let number = $("div.swiper-slide-next").data("kisi-id");
        $.ajax({
            type: "get",
            contentType: "application/json; charset=utf-8",
            url: "/anasayfa/Anasayfa?id=" + number,
            success: function(data){
                window.location.reload();
            }
        });
    });

</script>